$light: #f1f2f3;
$white: #fff;

$dark: #333131;
$black: #252525;

$primary: #2e65ff;
$success: #37d547;
$danger: #fa5252;
$warning: #dabd2a;

$grey-light: #eee;
$grey-dark: #9a9a9a;

// Google fonts CDN
@import url('https://fonts.googleapis.com/css2?family=Molengo&family=Oswald:wght@200;400;700&display=swap');

$font-regular: 'Molengo', sans-serif;
$font-accent: 'Oswald', 'Times New Roman', sans-serif;
