$light: #f1f2f3;
$white: #fff;

$dark: #322b2b;
$black: #252525;

$primary: #8d28f1;
$success: #1eaa2c;
$danger: #ee4747;
$warning: #ddc029;
$info: #297cdd;

$grey-light: #eee;
$grey-dark: #9a9a9a;

// Google fonts CDN
@import url('https://fonts.googleapis.com/css2?family=Molengo&family=Oswald:wght@200;400;700&display=swap');

$font-regular: 'Molengo', sans-serif;
$font-accent: 'Oswald', 'Times New Roman', sans-serif;
