@import '../../styles/shared-styles';

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin: 0 0 2.5rem;
  padding: 1.5rem 2.5rem;
  border-radius: 0 0 1rem 1rem;
  position: sticky;
  top: 0;
  z-index: 100;
  box-shadow: 0 0 0.5rem darkgrey;

  &__logo {
    color: $primary;
  }
}
